@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome BOOK STORE </h1>
    <p>Learn about <a href="#">HOW TO CREATE BOOK STORE APP</a>.</p>
     
</div>
